{% extends 'layout.html' %}

{% block body %}
    <h1>home page</h1>

    <h1><a href="{% url 'base:create-room' %}">Create room</a></h1>

    <div>
        {% for room in rooms %}
            <div>
                <span><a href="{% url 'base:update-room' room.id %}">Edit Room</a></span>
                 <span><a href="{% url 'base:delete-room' room.id %}">Delete Room</a></span>
                 <br>
                <div>@{{room.host.username}}</div>
                <a href="{% url 'base:room'  room.id %}">{{ room}}</a>
                <div>{{room.topic}}</div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}