{%  extends "polls/layout.html" %}
{% block head%}
    <title>Details</title>
{% endblock %}

{% block body %}

    <h1>{{ question.question_txt }}</h1>
    <form action="{% url 'polls:vote' question_id %}" method="post"> 
        {% csrf_token %}
        {%  for choice in question.choice_set.all %}
            <label for="{{ forloop.counter }}">
            <input type="radio" 
            name="choice" 
            id="{{ forloop.counter }}"
            value="{{ choice.id }}"
            >
                
                <a> {{ choice.choice_txt }}</a>
            </label><br>

            

        {% endfor  %}
        <input type="submit" value="vote">

    </form>

    
{% endblock %}